@font-face {
  font-family: "iconfont";
  /* Project id 5092051 */
  src: url('/fonts/iconfont.woff2') format('woff2'),
    url('/fonts/iconfont.woff') format('woff'),
    url('/fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-auto-line-height:before {
  content: "\eadb";
}

.icon-camera:before {
  content: "\ebdb";
}

.icon-people-bottom:before {
  content: "\ecdb";
}

.icon-back:before {
  content: "\eadc";
}

.icon-config:before {
  content: "\ebdc";
}

.icon-people-right:before {
  content: "\ecdc";
}

.icon-bottom-bar:before {
  content: "\eadd";
}

.icon-dislike:before {
  content: "\ebdd";
}

.icon-people-safe:before {
  content: "\ecdd";
}

.icon-brightness:before {
  content: "\eade";
}

.icon-dislike-two:before {
  content: "\ebde";
}

.icon-peoples:before {
  content: "\ecde";
}

.icon-auto-line-width:before {
  content: "\eadf";
}

.icon-equalizer:before {
  content: "\ebdf";
}

.icon-people-safe-one:before {
  content: "\ecdf";
}

.icon-auto-width:before {
  content: "\eae0";
}

.icon-female:before {
  content: "\ebe0";
}

.icon-people-search:before {
  content: "\ece0";
}

.icon-background-color:before {
  content: "\eae1";
}

.icon-home1:before {
  content: "\ebe1";
}

.icon-people-search-one:before {
  content: "\ece1";
}

.icon-application-menu:before {
  content: "\eae2";
}

.icon-like:before {
  content: "\ebe2";
}

.icon-people-top:before {
  content: "\ece2";
}

.icon-delete:before {
  content: "\eae3";
}

.icon-hourglass-full:before {
  content: "\ebe3";
}

.icon-people-top-card:before {
  content: "\ece3";
}

.icon-clear-format:before {
  content: "\eae4";
}

.icon-loading-four:before {
  content: "\ebe4";
}

.icon-right-user:before {
  content: "\ece4";
}

.icon-auto-width-one:before {
  content: "\eae5";
}

.icon-more-two:before {
  content: "\ebe5";
}

.icon-personal-privacy:before {
  content: "\ece5";
}

.icon-code-brackets:before {
  content: "\eae6";
}

.icon-lightning:before {
  content: "\ebe6";
}

.icon-user:before {
  content: "\ece6";
}

.icon-clear:before {
  content: "\eae7";
}

.icon-more:before {
  content: "\ebe7";
}

.icon-wrong-user:before {
  content: "\ece7";
}

.icon-align-vertically:before {
  content: "\eae8";
}

.icon-hourglass-null:before {
  content: "\ebe8";
}

.icon-weixin-people-nearby:before {
  content: "\ece8";
}

.icon-components:before {
  content: "\eae9";
}

.icon-more-app:before {
  content: "\ebe9";
}

.icon-user-to-user-transmission:before {
  content: "\ece9";
}

.icon-delete-five:before {
  content: "\eaea";
}

.icon-refresh:before {
  content: "\ebea";
}

.icon-user-positioning:before {
  content: "\ecea";
}

.icon-column:before {
  content: "\eaeb";
}

.icon-more-one:before {
  content: "\ebeb";
}

.icon-personal-collection:before {
  content: "\eceb";
}

.icon-check-correct:before {
  content: "\eaec";
}

.icon-share-three:before {
  content: "\ebec";
}

.icon-people-upload:before {
  content: "\ecec";
}

.icon-code:before {
  content: "\eaed";
}

.icon-waterfalls-v:before {
  content: "\ebed";
}

.icon-turn-around:before {
  content: "\eced";
}

.icon-cutting:before {
  content: "\eaee";
}

.icon-setting-config:before {
  content: "\ebee";
}

.icon-woman:before {
  content: "\ecee";
}

.icon-bytedance-applets:before {
  content: "\eaef";
}

.icon-hamburger-button:before {
  content: "\ebef";
}

.icon-women:before {
  content: "\ecef";
}

.icon-damage-map:before {
  content: "\eaf0";
}

.icon-preview-open:before {
  content: "\ebf0";
}

.icon-block-eight:before {
  content: "\ecf0";
}

.icon-checkbox:before {
  content: "\eaf1";
}

.icon-tips:before {
  content: "\ebf1";
}

.icon-block-seven:before {
  content: "\ecf1";
}

.icon-delete-three:before {
  content: "\eaf2";
}

.icon-setting-one:before {
  content: "\ebf2";
}

.icon-block-three:before {
  content: "\ecf2";
}

.icon-delete-mode:before {
  content: "\eaf3";
}

.icon-setting-three:before {
  content: "\ebf3";
}

.icon-handle-down:before {
  content: "\ecf3";
}

.icon-difference-set:before {
  content: "\eaf4";
}

.icon-waterfalls-h:before {
  content: "\ebf4";
}

.icon-skull:before {
  content: "\ecf4";
}

.icon-direction:before {
  content: "\eaf5";
}

.icon-setting:before {
  content: "\ebf5";
}

.icon-game-ps:before {
  content: "\ecf5";
}

.icon-direction-adjustment-three:before {
  content: "\eaf6";
}

.icon-sleep:before {
  content: "\ebf6";
}

.icon-edit:before {
  content: "\eaf7";
}

.icon-zoom-out:before {
  content: "\ebf7";
}

.icon-done-all:before {
  content: "\eaf8";
}

.icon-power:before {
  content: "\ebf8";
}

.icon-editing:before {
  content: "\eaf9";
}

.icon-zoom-in:before {
  content: "\ebf9";
}

.icon-drop-shadow-up:before {
  content: "\eafa";
}

.icon-pic:before {
  content: "\ebfa";
}

.icon-expand-left-and-right:before {
  content: "\eafb";
}

.icon-system:before {
  content: "\ebfb";
}

.icon-expand-up:before {
  content: "\eafc";
}

.icon-preview-close-one:before {
  content: "\ebfc";
}

.icon-endpoint-square:before {
  content: "\eafd";
}

.icon-translate:before {
  content: "\ebfd";
}

.icon-download-four:before {
  content: "\eafe";
}

.icon-save:before {
  content: "\ebfe";
}

.icon-filter:before {
  content: "\eaff";
}

.icon-arrow-circle-left:before {
  content: "\ebff";
}

.icon-full-selection:before {
  content: "\eb00";
}

.icon-arrow-circle-down:before {
  content: "\ec00";
}

.icon-full-screen:before {
  content: "\eb01";
}

.icon-arrow-circle-up:before {
  content: "\ec01";
}

.icon-grid-three:before {
  content: "\eb02";
}

.icon-arrow-circle-right:before {
  content: "\ec02";
}

.icon-grid-two:before {
  content: "\eb03";
}

.icon-arrow-down:before {
  content: "\ec03";
}

.icon-indent-left:before {
  content: "\eb04";
}

.icon-circle-double-right:before {
  content: "\ec04";
}

.icon-grid-nine:before {
  content: "\eb05";
}

.icon-circle-double-left:before {
  content: "\ec05";
}

.icon-grid-four:before {
  content: "\eb06";
}

.icon-down-c:before {
  content: "\ec06";
}

.icon-grid-sixteen:before {
  content: "\eb07";
}

.icon-circle-double-up:before {
  content: "\ec07";
}

.icon-inner-shadow-up:before {
  content: "\eb08";
}

.icon-down:before {
  content: "\ec08";
}

.icon-intersection:before {
  content: "\eb09";
}

.icon-arrow-up:before {
  content: "\ec09";
}

.icon-indent-right:before {
  content: "\eb0a";
}

.icon-download:before {
  content: "\ec0a";
}

.icon-layout-four:before {
  content: "\eb0b";
}

.icon-circle-double-down:before {
  content: "\ec0b";
}

.icon-layers:before {
  content: "\eb0c";
}

.icon-cycle-movement:before {
  content: "\ec0c";
}

.icon-layout-five:before {
  content: "\eb0d";
}

.icon-go-ahead:before {
  content: "\ec0d";
}

.icon-left-alignment:before {
  content: "\eb0e";
}

.icon-invert-left:before {
  content: "\ec0e";
}

.icon-layout-two:before {
  content: "\eb0f";
}

.icon-left:before {
  content: "\ec0f";
}

.icon-lens-alignment:before {
  content: "\eb10";
}

.icon-right:before {
  content: "\ec10";
}

.icon-lock:before {
  content: "\eb11";
}

.icon-play-cycle:before {
  content: "\ec11";
}

.icon-list:before {
  content: "\eb12";
}

.icon-send:before {
  content: "\ec12";
}

.icon-list-success:before {
  content: "\eb13";
}

.icon-sliding-horizontal:before {
  content: "\ec13";
}

.icon-link-one:before {
  content: "\eb14";
}

.icon-sliding-vertical:before {
  content: "\ec14";
}

.icon-list-numbers:before {
  content: "\eb15";
}

.icon-sort-four:before {
  content: "\ec15";
}

.icon-link-two:before {
  content: "\eb16";
}

.icon-sort-one:before {
  content: "\ec16";
}

.icon-lock-one:before {
  content: "\eb17";
}

.icon-sort-two:before {
  content: "\ec17";
}

.icon-angry-face:before {
  content: "\ea17";
}

.icon-mindmap-map:before {
  content: "\eb18";
}

.icon-sort-three:before {
  content: "\ec18";
}

.icon-astonished-face:before {
  content: "\ea18";
}

.icon-list-middle:before {
  content: "\eb19";
}

.icon-to-bottom-one:before {
  content: "\ec19";
}

.icon-distraught-face:before {
  content: "\ea19";
}

.icon-right-bar:before {
  content: "\eb1a";
}

.icon-trending-up:before {
  content: "\ec1a";
}

.icon-anguished-face:before {
  content: "\ea1a";
}

.icon-picture-one:before {
  content: "\eb1b";
}

.icon-to-top-one:before {
  content: "\ec1b";
}

.icon-grimacing-face:before {
  content: "\ea1b";
}

.icon-paragraph-break-two:before {
  content: "\eb1c";
}

.icon-up:before {
  content: "\ec1c";
}

.icon-frowning-face-whit-open-mouth:before {
  content: "\ea1c";
}

.icon-return:before {
  content: "\eb1d";
}

.icon-trending-down:before {
  content: "\ec1d";
}

.icon-grinning-face:before {
  content: "\ea1d";
}

.icon-rotate-one:before {
  content: "\eb1e";
}

.icon-upload-three:before {
  content: "\ec1e";
}

.icon-grinning-face-with-squinting-eyes:before {
  content: "\ea1e";
}

.icon-paragraph-alphabet:before {
  content: "\eb1f";
}

.icon-up-c:before {
  content: "\ec1f";
}

.icon-surprised-face-with-open-big-mouth:before {
  content: "\ea1f";
}

.icon-perspective:before {
  content: "\eb20";
}

.icon-undo:before {
  content: "\ec20";
}

.icon-winking-face:before {
  content: "\ea20";
}

.icon-row-height:before {
  content: "\eb21";
}

.icon-upload-two:before {
  content: "\ec21";
}

.icon-loudly-crying-face-whit-open-mouth:before {
  content: "\ea21";
}

.icon-paragraph-triangle:before {
  content: "\eb22";
}

.icon-upload-one:before {
  content: "\ec22";
}

.icon-neutral-face:before {
  content: "\ea22";
}

.icon-reduce-decimal-places:before {
  content: "\eb23";
}

.icon-comment:before {
  content: "\ec23";
}

.icon-worried-face:before {
  content: "\ea23";
}

.icon-paragraph-cut:before {
  content: "\eb24";
}

.icon-comment-one:before {
  content: "\ec24";
}

.icon-winking-face-with-open-eyes:before {
  content: "\ea24";
}

.icon-scale:before {
  content: "\eb25";
}

.icon-comments:before {
  content: "\ec25";
}

.icon-smiling-face-with-squinting-eyes:before {
  content: "\ea25";
}

.icon-ordered-list:before {
  content: "\eb26";
}

.icon-message-emoji:before {
  content: "\ec26";
}

.icon-weary-face:before {
  content: "\ea26";
}

.icon-text-rotation-up:before {
  content: "\eb27";
}

.icon-tips-one:before {
  content: "\ec27";
}

.icon-balance-two:before {
  content: "\ea27";
}

.icon-text-style-one:before {
  content: "\eb28";
}

.icon-phone-incoming:before {
  content: "\ec28";
}

.icon-caution:before {
  content: "\ea28";
}

.icon-tailoring-two:before {
  content: "\eb29";
}

.icon-phone-telephone:before {
  content: "\ec29";
}

.icon-alarm:before {
  content: "\ea29";
}

.icon-text-rotation-down:before {
  content: "\eb2a";
}

.icon-phone-missed:before {
  content: "\ec2a";
}

.icon-harm:before {
  content: "\ea2a";
}

.icon-unlock-one:before {
  content: "\eb2b";
}

.icon-topic:before {
  content: "\ec2b";
}

.icon-protect:before {
  content: "\ea2b";
}

.icon-translation:before {
  content: "\eb2c";
}

.icon-enquire:before {
  content: "\ec2c";
}

.icon-key:before {
  content: "\ea2c";
}

.icon-upload-logs:before {
  content: "\eb2d";
}

.icon-map-draw:before {
  content: "\ec2d";
}

.icon-bug:before {
  content: "\ea2d";
}

.icon-view-grid-detail:before {
  content: "\eb2e";
}

.icon-sunset:before {
  content: "\ec2e";
}

.icon-umbrella-one:before {
  content: "\ea2f";
}

.icon-word:before {
  content: "\eb2f";
}

.icon-checklist:before {
  content: "\ec2f";
}

.icon-imbalance:before {
  content: "\ea30";
}

.icon-viewfinder:before {
  content: "\eb30";
}

.icon-connect:before {
  content: "\ec30";
}

.icon-umbrella-two:before {
  content: "\ea31";
}

.icon-zip:before {
  content: "\eb31";
}

.icon-link-three:before {
  content: "\ec31";
}

.icon-fire-extinguisher:before {
  content: "\ea32";
}

.icon-unlink:before {
  content: "\eb32";
}

.icon-left-branch:before {
  content: "\ec32";
}

.icon-shield-add:before {
  content: "\ea33";
}

.icon-circles-seven:before {
  content: "\eb33";
}

.icon-lower-branch:before {
  content: "\ec33";
}

.icon-protection:before {
  content: "\ea34";
}

.icon-circle-five-line:before {
  content: "\eb34";
}

.icon-connection-point-two:before {
  content: "\ec34";
}

.icon-keyhole:before {
  content: "\ea35";
}

.icon-cube-two:before {
  content: "\eb35";
}

.icon-beauty:before {
  content: "\ec35";
}

.icon-shield:before {
  content: "\ea36";
}

.icon-blocks-and-arrows:before {
  content: "\eb36";
}

.icon-color-filter:before {
  content: "\ec36";
}

.icon-report:before {
  content: "\ea37";
}

.icon-figma-component:before {
  content: "\eb37";
}

.icon-click:before {
  content: "\ec37";
}

.icon-radiation:before {
  content: "\ea38";
}

.icon-geometric-flowers:before {
  content: "\eb38";
}

.icon-effects:before {
  content: "\ec38";
}

.icon-umbrella:before {
  content: "\ea39";
}

.icon-coordinate-system:before {
  content: "\eb39";
}

.icon-face-recognition:before {
  content: "\ec39";
}

.icon-thermometer-filled:before {
  content: "\ea3a";
}

.icon-four-leaves:before {
  content: "\eb3a";
}

.icon-game-two:before {
  content: "\ec3a";
}

.icon-experiment-one:before {
  content: "\ea3b";
}

.icon-hexagon-strip:before {
  content: "\eb3b";
}

.icon-mask-one:before {
  content: "\ec3b";
}

.icon-experiment:before {
  content: "\ea3c";
}

.icon-six-circular-connection:before {
  content: "\eb3c";
}

.icon-loading-two:before {
  content: "\ec3c";
}

.icon-test-tube:before {
  content: "\ea3d";
}

.icon-round-mask:before {
  content: "\eb3d";
}

.icon-loading-one:before {
  content: "\ec3d";
}

.icon-thermometer:before {
  content: "\ea3e";
}

.icon-three-hexagons:before {
  content: "\eb3e";
}

.icon-reverse-rotation:before {
  content: "\ec3e";
}

.icon-abnormal:before {
  content: "\ea3f";
}

.icon-triangle-round-rectangle:before {
  content: "\eb3f";
}

.icon-baby-app:before {
  content: "\ec3f";
}

.icon-announcement:before {
  content: "\ea40";
}

.icon-three-triangles:before {
  content: "\eb40";
}

.icon-baby-bottle:before {
  content: "\ec40";
}

.icon-agreement:before {
  content: "\ea41";
}

.icon-two-triangles-two:before {
  content: "\eb41";
}

.icon-baby-one:before {
  content: "\ec41";
}

.icon-book-one:before {
  content: "\ea42";
}

.icon-two-triangles:before {
  content: "\eb42";
}

.icon-baby-taste:before {
  content: "\ec42";
}

.icon-add-picture:before {
  content: "\ea43";
}

.icon-whirlwind:before {
  content: "\eb43";
}

.icon-boy-two:before {
  content: "\ec43";
}

.icon-audio-file:before {
  content: "\ea44";
}

.icon-add-subtract:before {
  content: "\eb44";
}

.icon-family:before {
  content: "\ec44";
}

.icon-book-open:before {
  content: "\ea45";
}

.icon-bank:before {
  content: "\eb45";
}

.icon-child-with-pacifier:before {
  content: "\ec45";
}

.icon-bookshelf:before {
  content: "\ea46";
}

.icon-bank-transfer:before {
  content: "\eb46";
}

.icon-boy:before {
  content: "\ec46";
}

.icon-add-print:before {
  content: "\ea47";
}

.icon-commodity:before {
  content: "\eb47";
}

.icon-girl-two:before {
  content: "\ec47";
}

.icon-add-web:before {
  content: "\ea48";
}

.icon-buy:before {
  content: "\eb48";
}

.icon-girl-one:before {
  content: "\ec48";
}

.icon-copy-one:before {
  content: "\ea49";
}

.icon-bank-card-one:before {
  content: "\eb49";
}

.icon-sippy-cup:before {
  content: "\ec49";
}

.icon-compression:before {
  content: "\ea4a";
}

.icon-consume:before {
  content: "\eb4a";
}

.icon-sleep-one:before {
  content: "\ec4a";
}

.icon-collect-picture:before {
  content: "\ea4b";
}

.icon-blockchain:before {
  content: "\eb4b";
}

.icon-rocking-horse:before {
  content: "\ec4b";
}

.icon-collection-files:before {
  content: "\ea4c";
}

.icon-discovery-index:before {
  content: "\eb4c";
}

.icon-battery-charge:before {
  content: "\ec4c";
}

.icon-clipboard:before {
  content: "\ea4d";
}

.icon-exchange:before {
  content: "\eb4d";
}

.icon-battery-empty:before {
  content: "\ec4d";
}

.icon-application-effect:before {
  content: "\ea4e";
}

.icon-coupon:before {
  content: "\eb4e";
}

.icon-battery-working:before {
  content: "\ec4e";
}

.icon-data-file:before {
  content: "\ea4f";
}

.icon-credit:before {
  content: "\eb4f";
}

.icon-battery-full:before {
  content: "\ec4f";
}

.icon-editor:before {
  content: "\ea50";
}

.icon-exchange-four:before {
  content: "\eb50";
}

.icon-leaf:before {
  content: "\ec50";
}

.icon-email-block:before {
  content: "\ea51";
}

.icon-deposit:before {
  content: "\eb51";
}

.icon-fire:before {
  content: "\ec51";
}

.icon-document-folder:before {
  content: "\ea52";
}

.icon-financing-two:before {
  content: "\eb52";
}

.icon-ripple:before {
  content: "\ec52";
}

.icon-box:before {
  content: "\ea53";
}

.icon-gift-bag:before {
  content: "\eb53";
}

.icon-leaves-one:before {
  content: "\ec53";
}

.icon-error-picture:before {
  content: "\ea54";
}

.icon-flash-payment:before {
  content: "\eb54";
}

.icon-adobe-illustrate:before {
  content: "\ec54";
}

.icon-email-delect:before {
  content: "\ea55";
}

.icon-gift:before {
  content: "\eb55";
}

.icon-android:before {
  content: "\ec55";
}

.icon-doc-add:before {
  content: "\ea56";
}

.icon-exchange-two:before {
  content: "\eb56";
}

.icon-alipay:before {
  content: "\ec56";
}

.icon-book:before {
  content: "\ea57";
}

.icon-funds:before {
  content: "\eb57";
}

.icon-apple:before {
  content: "\ec57";
}

.icon-email-push:before {
  content: "\ea58";
}

.icon-history-query:before {
  content: "\eb58";
}

.icon-browser-chrome:before {
  content: "\ec58";
}

.icon-doc-search:before {
  content: "\ea59";
}

.icon-financing:before {
  content: "\eb59";
}

.icon-xigua:before {
  content: "\ec59";
}

.icon-doc-fail:before {
  content: "\ea5a";
}

.icon-exchange-three:before {
  content: "\eb5a";
}

.icon-youtube:before {
  content: "\ec5a";
}

.icon-english:before {
  content: "\ea5b";
}

.icon-financing-one:before {
  content: "\eb5b";
}

.icon-bookmark-three:before {
  content: "\ec5b";
}

.icon-down-picture:before {
  content: "\ea5c";
}

.icon-ios-face-recognition:before {
  content: "\eb5c";
}

.icon-bluetooth:before {
  content: "\ec5c";
}

.icon-date-comes-back:before {
  content: "\ea5d";
}

.icon-currency:before {
  content: "\eb5d";
}

.icon-bytedance-mini-app:before {
  content: "\ec5d";
}

.icon-excel:before {
  content: "\ea5e";
}

.icon-insert-card:before {
  content: "\eb5e";
}

.icon-diamond:before {
  content: "\ec5e";
}

.icon-disabled-picture:before {
  content: "\ea5f";
}

.icon-finance:before {
  content: "\eb5f";
}

.icon-glasses-three:before {
  content: "\ec5f";
}

.icon-email-fail:before {
  content: "\ea60";
}

.icon-income-one:before {
  content: "\eb60";
}

.icon-degree-hat:before {
  content: "\ec60";
}

.icon-email-successfully:before {
  content: "\ea61";
}

.icon-expenses:before {
  content: "\eb61";
}

.icon-medal-one:before {
  content: "\ec61";
}

.icon-envelope-one:before {
  content: "\ea62";
}

.icon-ipo:before {
  content: "\eb62";
}

.icon-pencil:before {
  content: "\ec62";
}

.icon-email-security:before {
  content: "\ea63";
}

.icon-income:before {
  content: "\eb63";
}

.icon-terminal:before {
  content: "\ec63";
}

.icon-email-search:before {
  content: "\ea64";
}

.icon-mall-bag:before {
  content: "\eb64";
}

.icon-thinking-problem:before {
  content: "\ec64";
}

.icon-email-down:before {
  content: "\ea65";
}

.icon-medication-time:before {
  content: "\eb65";
}

.icon-weixin-favorites:before {
  content: "\ec65";
}

.icon-fail-picture:before {
  content: "\ea66";
}

.icon-open-an-account:before {
  content: "\eb66";
}

.icon-vip-one:before {
  content: "\ec66";
}

.icon-disabaled-web:before {
  content: "\ea67";
}

.icon-optional:before {
  content: "\eb67";
}

.icon-alarm-clock:before {
  content: "\ec67";
}

.icon-email-lock:before {
  content: "\ea68";
}

.icon-paper-money:before {
  content: "\eb68";
}

.icon-history:before {
  content: "\ec68";
}

.icon-download-web:before {
  content: "\ea69";
}

.icon-paper-money-two:before {
  content: "\eb69";
}

.icon-stopwatch-start:before {
  content: "\ec69";
}

.icon-file-addition-one:before {
  content: "\ea6a";
}

.icon-pay-code-one:before {
  content: "\eb6a";
}

.icon-time:before {
  content: "\ec6a";
}

.icon-file-addition:before {
  content: "\ea6b";
}

.icon-payment-method:before {
  content: "\eb6b";
}

.icon-watch:before {
  content: "\ec6b";
}

.icon-file-code-one:before {
  content: "\ea6c";
}

.icon-pay-code-two:before {
  content: "\eb6c";
}

.icon-speed:before {
  content: "\ec6c";
}

.icon-file-code:before {
  content: "\ea6d";
}

.icon-shopping:before {
  content: "\eb6d";
}

.icon-bad-one:before {
  content: "\ec6d";
}

.icon-file-collection-one:before {
  content: "\ea6e";
}

.icon-shopping-bag:before {
  content: "\eb6e";
}

.icon-bad-two:before {
  content: "\ec6e";
}

.icon-file-conversion:before {
  content: "\ea6f";
}

.icon-shopping-bag-one:before {
  content: "\eb6f";
}

.icon-good-one:before {
  content: "\ec6f";
}

.icon-file-date:before {
  content: "\ea70";
}

.icon-shopping-cart-add:before {
  content: "\eb70";
}

.icon-good-two:before {
  content: "\ec70";
}

.icon-file-date-one:before {
  content: "\ea71";
}

.icon-scan-code:before {
  content: "\eb71";
}

.icon-database-fail:before {
  content: "\ec71";
}

.icon-file-editing:before {
  content: "\ea72";
}

.icon-red-envelope:before {
  content: "\eb72";
}

.icon-database-lock:before {
  content: "\ec72";
}

.icon-file-collection:before {
  content: "\ea73";
}

.icon-shopping-cart-two:before {
  content: "\eb73";
}

.icon-data-switching:before {
  content: "\ec73";
}

.icon-file-conversion-one:before {
  content: "\ea74";
}

.icon-water-rate:before {
  content: "\eb74";
}

.icon-database-first:before {
  content: "\ec74";
}

.icon-file-display-one:before {
  content: "\ea75";
}

.icon-two-dimensional-code-one:before {
  content: "\eb75";
}

.icon-activity-source:before {
  content: "\ec75";
}

.icon-file-excel:before {
  content: "\ea76";
}

.icon-wallet:before {
  content: "\eb76";
}

.icon-analysis:before {
  content: "\ec76";
}

.icon-file-failed-one:before {
  content: "\ea77";
}

.icon-stock-market:before {
  content: "\eb77";
}

.icon-bubble-chart:before {
  content: "\ec77";
}

.icon-file-hash:before {
  content: "\ea78";
}

.icon-waves:before {
  content: "\eb78";
}

.icon-follow-up-date-sort:before {
  content: "\ec78";
}

.icon-file-failed:before {
  content: "\ea79";
}

.icon-two-dimensional-code:before {
  content: "\eb79";
}

.icon-pie:before {
  content: "\ec79";
}

.icon-file-hiding:before {
  content: "\ea7a";
}

.icon-shopping-cart-one:before {
  content: "\eb7a";
}

.icon-pie-three:before {
  content: "\ec7a";
}

.icon-file-focus-one:before {
  content: "\ea7b";
}

.icon-trend-two:before {
  content: "\eb7b";
}

.icon-heartbeat:before {
  content: "\ec7b";
}

.icon-file-search-one:before {
  content: "\ea7c";
}

.icon-weixin-market:before {
  content: "\eb7c";
}

.icon-dumbbell:before {
  content: "\ec7c";
}

.icon-file-success:before {
  content: "\ea7d";
}

.icon-trend:before {
  content: "\eb7d";
}

.icon-fitness:before {
  content: "\ec7d";
}

.icon-file-success-one:before {
  content: "\ea7e";
}

.icon-swipe:before {
  content: "\eb7e";
}

.icon-riding:before {
  content: "\ec7e";
}

.icon-file-staff:before {
  content: "\ea7f";
}

.icon-two-dimensional-code-two:before {
  content: "\eb7f";
}

.icon-ambulance:before {
  content: "\ec7f";
}

.icon-file-search:before {
  content: "\ea80";
}

.icon-wallet-three:before {
  content: "\eb80";
}

.icon-abdominal:before {
  content: "\ec80";
}

.icon-file-doc:before {
  content: "\ea81";
}

.icon-transaction-order:before {
  content: "\eb81";
}

.icon-cardioelectric:before {
  content: "\ec81";
}

.icon-file-pdf-one:before {
  content: "\ea82";
}

.icon-water-rate-two:before {
  content: "\eb82";
}

.icon-composition:before {
  content: "\ec82";
}

.icon-file-settings-one:before {
  content: "\ea83";
}

.icon-transaction:before {
  content: "\eb83";
}

.icon-brain:before {
  content: "\ec83";
}

.icon-file-search-two:before {
  content: "\ea84";
}

.icon-workbench:before {
  content: "\eb84";
}

.icon-chest:before {
  content: "\ec84";
}

.icon-file-focus:before {
  content: "\ea85";
}

.icon-wallet-one:before {
  content: "\eb85";
}

.icon-cross-society:before {
  content: "\ec85";
}

.icon-file-text:before {
  content: "\ea86";
}

.icon-bird:before {
  content: "\eb86";
}

.icon-eyes:before {
  content: "\ec86";
}

.icon-file-tips:before {
  content: "\ea87";
}

.icon-cattle:before {
  content: "\eb87";
}

.icon-bottle:before {
  content: "\ec87";
}

.icon-file-word:before {
  content: "\ea88";
}

.icon-cattle-zodiac:before {
  content: "\eb88";
}

.icon-ecg:before {
  content: "\ec88";
}

.icon-file-withdrawal-one:before {
  content: "\ea89";
}

.icon-butterfly:before {
  content: "\eb89";
}

.icon-eeg:before {
  content: "\ec89";
}

.icon-file-zip:before {
  content: "\ea8a";
}

.icon-bee:before {
  content: "\eb8a";
}

.icon-cell:before {
  content: "\ec8a";
}

.icon-find-one:before {
  content: "\ea8b";
}

.icon-pig:before {
  content: "\eb8b";
}

.icon-anti-corrosion:before {
  content: "\ec8b";
}

.icon-folder-code-one:before {
  content: "\ea8c";
}

.icon-elephant:before {
  content: "\eb8c";
}

.icon-facial-mask:before {
  content: "\ec8c";
}

.icon-folder-failed:before {
  content: "\ea8d";
}

.icon-pigeon:before {
  content: "\eb8d";
}

.icon-hospital:before {
  content: "\ec8d";
}

.icon-folder:before {
  content: "\ea8e";
}

.icon-carousel-video:before {
  content: "\eb8e";
}

.icon-general-branch:before {
  content: "\ec8e";
}

.icon-folder-music-one:before {
  content: "\ea8f";
}

.icon-entertainment:before {
  content: "\eb8f";
}

.icon-heart-rate:before {
  content: "\ec8f";
}

.icon-folder-code:before {
  content: "\ea90";
}

.icon-headset-one:before {
  content: "\eb90";
}

.icon-gastrointestinal:before {
  content: "\ec90";
}

.icon-folder-conversion-one:before {
  content: "\ea91";
}

.icon-headset:before {
  content: "\eb91";
}

.icon-hospital-four:before {
  content: "\ec91";
}

.icon-folder-lock:before {
  content: "\ea92";
}

.icon-monitor-two:before {
  content: "\eb92";
}

.icon-injection:before {
  content: "\ec92";
}

.icon-folder-download:before {
  content: "\ea93";
}

.icon-fm:before {
  content: "\eb93";
}

.icon-mask:before {
  content: "\ec93";
}

.icon-folder-close:before {
  content: "\ea94";
}

.icon-music:before {
  content: "\eb94";
}

.icon-first-aid-kit:before {
  content: "\ec94";
}

.icon-folder-plus:before {
  content: "\ea95";
}

.icon-film:before {
  content: "\eb95";
}

.icon-medical-files:before {
  content: "\ec95";
}

.icon-folder-lock-one:before {
  content: "\ea96";
}

.icon-music-cd:before {
  content: "\eb96";
}

.icon-hospital-bed:before {
  content: "\ec96";
}

.icon-folder-upload:before {
  content: "\ea97";
}

.icon-mute:before {
  content: "\eb97";
}

.icon-gauze:before {
  content: "\ec97";
}

.icon-hourglass:before {
  content: "\ea98";
}

.icon-pause-one:before {
  content: "\eb98";
}

.icon-infusion:before {
  content: "\ec98";
}

.icon-folder-focus-one:before {
  content: "\ea99";
}

.icon-play-one:before {
  content: "\eb99";
}

.icon-hospital-three:before {
  content: "\ec99";
}

.icon-folder-protection-one:before {
  content: "\ea9a";
}

.icon-performance:before {
  content: "\eb9a";
}

.icon-detection:before {
  content: "\ec9a";
}

.icon-font-search:before {
  content: "\ea9b";
}

.icon-pause:before {
  content: "\eb9b";
}

.icon-love-and-help:before {
  content: "\ec9b";
}

.icon-folder-protection:before {
  content: "\ea9c";
}

.icon-ppt:before {
  content: "\eb9c";
}

.icon-endocrine:before {
  content: "\ec9c";
}

.icon-folder-withdrawal-one:before {
  content: "\ea9d";
}

.icon-volume-small:before {
  content: "\eb9d";
}

.icon-lung:before {
  content: "\ec9d";
}

.icon-folder-focus:before {
  content: "\ea9e";
}

.icon-music-rhythm:before {
  content: "\eb9e";
}

.icon-medical-mark:before {
  content: "\ec9e";
}

.icon-inbox-out:before {
  content: "\ea9f";
}

.icon-play:before {
  content: "\eb9f";
}

.icon-heart:before {
  content: "\ec9f";
}

.icon-inbox-download-r:before {
  content: "\eaa0";
}

.icon-voicemail:before {
  content: "\eba0";
}

.icon-medical-box:before {
  content: "\eca0";
}

.icon-inbox-in:before {
  content: "\eaa1";
}

.icon-voice-one:before {
  content: "\eba1";
}

.icon-germs:before {
  content: "\eca1";
}

.icon-inbox-upload-r:before {
  content: "\eaa2";
}

.icon-remind-disable:before {
  content: "\eba2";
}

.icon-medicine-bottle:before {
  content: "\eca2";
}

.icon-instruction:before {
  content: "\eaa3";
}

.icon-voice:before {
  content: "\eba3";
}

.icon-medicine-bottle-one:before {
  content: "\eca3";
}

.icon-inbox-success-r:before {
  content: "\eaa4";
}

.icon-video:before {
  content: "\eba4";
}

.icon-medicine-chest:before {
  content: "\eca4";
}

.icon-mail-review:before {
  content: "\eaa5";
}

.icon-music-list:before {
  content: "\eba5";
}

.icon-needle:before {
  content: "\eca5";
}

.icon-link:before {
  content: "\eaa6";
}

.icon-volume-up:before {
  content: "\eba6";
}

.icon-nests:before {
  content: "\eca6";
}

.icon-market-analysis:before {
  content: "\eaa7";
}

.icon-remind:before {
  content: "\eba7";
}

.icon-microscope:before {
  content: "\eca7";
}

.icon-mail:before {
  content: "\eaa8";
}

.icon-volume-down:before {
  content: "\eba8";
}

.icon-nasal:before {
  content: "\eca8";
}

.icon-level:before {
  content: "\eaa9";
}

.icon-volume-mute:before {
  content: "\eba9";
}

.icon-nutrition:before {
  content: "\eca9";
}

.icon-mail-unpacking:before {
  content: "\eaaa";
}

.icon-waves-left:before {
  content: "\ebaa";
}

.icon-other:before {
  content: "\ecaa";
}

.icon-newspaper-folding:before {
  content: "\eaab";
}

.icon-volume-notice:before {
  content: "\ebab";
}

.icon-nmr:before {
  content: "\ecab";
}

.icon-new-picture:before {
  content: "\eaac";
}

.icon-diamond-ring:before {
  content: "\ebac";
}

.icon-pesticide:before {
  content: "\ecac";
}

.icon-label:before {
  content: "\eaad";
}

.icon-clothes-diapers:before {
  content: "\ebad";
}

.icon-period:before {
  content: "\ecad";
}

.icon-moving-picture:before {
  content: "\eaae";
}

.icon-clothes-gloves:before {
  content: "\ebae";
}

.icon-stethoscope:before {
  content: "\ecae";
}

.icon-paperclip:before {
  content: "\eaaf";
}

.icon-diamond-necklace:before {
  content: "\ebaf";
}

.icon-pure-natural:before {
  content: "\ecaf";
}

.icon-security:before {
  content: "\eab0";
}

.icon-glasses-one:before {
  content: "\ebb0";
}

.icon-prescription:before {
  content: "\ecb0";
}

.icon-permissions:before {
  content: "\eab1";
}

.icon-men-jacket:before {
  content: "\ebb1";
}

.icon-red-cross:before {
  content: "\ecb1";
}

.icon-play-two:before {
  content: "\eab2";
}

.icon-panties:before {
  content: "\ebb2";
}

.icon-toxins:before {
  content: "\ecb2";
}

.icon-receive:before {
  content: "\eab3";
}

.icon-perfume:before {
  content: "\ebb3";
}

.icon-thermometer-one:before {
  content: "\ecb3";
}

.icon-optimize:before {
  content: "\eab4";
}

.icon-shorts:before {
  content: "\ebb4";
}

.icon-traditional-chinese-medicine:before {
  content: "\ecb4";
}

.icon-seo-folder:before {
  content: "\eab5";
}

.icon-high-heeled-shoes:before {
  content: "\ebb5";
}

.icon-plastic-surgery:before {
  content: "\ecb5";
}

.icon-picture:before {
  content: "\eab6";
}

.icon-the-single-shoulder-bag:before {
  content: "\ebb6";
}

.icon-weight:before {
  content: "\ecb6";
}

.icon-transform:before {
  content: "\eab7";
}

.icon-trunk:before {
  content: "\ebb7";
}

.icon-pill:before {
  content: "\ecb7";
}

.icon-send-email:before {
  content: "\eab8";
}

.icon-sweater:before {
  content: "\ebb8";
}

.icon-uterus:before {
  content: "\ecb8";
}

.icon-video-one:before {
  content: "\eab9";
}

.icon-slippers-one:before {
  content: "\ebb9";
}

.icon-renal:before {
  content: "\ecb9";
}

.icon-success-picture:before {
  content: "\eaba";
}

.icon-t-shirt:before {
  content: "\ebba";
}

.icon-pregnant-women:before {
  content: "\ecba";
}

.icon-video-file:before {
  content: "\eabb";
}

.icon-women-coat:before {
  content: "\ebbb";
}

.icon-pills:before {
  content: "\ecbb";
}

.icon-upload-picture:before {
  content: "\eabc";
}

.icon-swimsuit:before {
  content: "\ebbc";
}

.icon-waistline:before {
  content: "\ecbc";
}

.icon-source-code:before {
  content: "\eabd";
}

.icon-short-skirt:before {
  content: "\ebbd";
}

.icon-swallow:before {
  content: "\ecbd";
}

.icon-ticket-one:before {
  content: "\eabe";
}

.icon-three-d-glasses:before {
  content: "\ebbe";
}

.icon-orthopedic:before {
  content: "\ecbe";
}

.icon-text-message:before {
  content: "\eabf";
}

.icon-add:before {
  content: "\ebbf";
}

.icon-sperm:before {
  content: "\ecbf";
}

.icon-video-conference:before {
  content: "\eac0";
}

.icon-add-one:before {
  content: "\ebc0";
}

.icon-nurse-cap:before {
  content: "\ecc0";
}

.icon-web-page:before {
  content: "\eac1";
}

.icon-ad:before {
  content: "\ebc1";
}

.icon-neural:before {
  content: "\ecc1";
}

.icon-termination-file:before {
  content: "\eac2";
}

.icon-attention:before {
  content: "\ebc2";
}

.icon-safe-retrieval:before {
  content: "\ecc2";
}

.icon-list-alphabet-filled:before {
  content: "\eac3";
}

.icon-at-sign:before {
  content: "\ebc3";
}

.icon-teeth:before {
  content: "\ecc3";
}

.icon-paragraph-triangle-filled:before {
  content: "\eac4";
}

.icon-check:before {
  content: "\ebc4";
}

.icon-panorama-horizontal:before {
  content: "\ecc4";
}

.icon-add-four:before {
  content: "\eac5";
}

.icon-check-small:before {
  content: "\ebc5";
}

.icon-appointment:before {
  content: "\ecc5";
}

.icon-add-mode:before {
  content: "\eac6";
}

.icon-close:before {
  content: "\ebc6";
}

.icon-add-user:before {
  content: "\ecc6";
}

.icon-add-pic:before {
  content: "\eac7";
}

.icon-close-small:before {
  content: "\ebc7";
}

.icon-edit-name:before {
  content: "\ecc7";
}

.icon-add-text:before {
  content: "\eac8";
}

.icon-forbid:before {
  content: "\ebc8";
}

.icon-every-user:before {
  content: "\ecc8";
}

.icon-align-bottom:before {
  content: "\eac9";
}

.icon-close-one:before {
  content: "\ebc9";
}

.icon-avatar:before {
  content: "\ecc9";
}

.icon-adjacent-item:before {
  content: "\eaca";
}

.icon-check-one:before {
  content: "\ebca";
}

.icon-id-card-h:before {
  content: "\ecca";
}

.icon-alignment-bottom-center:before {
  content: "\eacb";
}

.icon-division:before {
  content: "\ebcb";
}

.icon-id-card-v:before {
  content: "\eccb";
}

.icon-alignment-horizontal-center:before {
  content: "\eacc";
}

.icon-font-size-two:before {
  content: "\ebcc";
}

.icon-baby:before {
  content: "\eccc";
}

.icon-alignment-right-bottom:before {
  content: "\eacd";
}

.icon-plus:before {
  content: "\ebcd";
}

.icon-hands:before {
  content: "\eccd";
}

.icon-align-text-bottom:before {
  content: "\eace";
}

.icon-reduce:before {
  content: "\ebce";
}

.icon-people:before {
  content: "\ecce";
}

.icon-align-right-one:before {
  content: "\eacf";
}

.icon-percentage:before {
  content: "\ebcf";
}

.icon-people-bottom-card:before {
  content: "\eccf";
}

.icon-align-text-middle-one:before {
  content: "\ead0";
}

.icon-reduce-one:before {
  content: "\ebd0";
}

.icon-passport:before {
  content: "\ecd0";
}

.icon-align-right:before {
  content: "\ead1";
}

.icon-success:before {
  content: "\ebd1";
}

.icon-me:before {
  content: "\ecd1";
}

.icon-align-text-middle:before {
  content: "\ead2";
}

.icon-plus-cross:before {
  content: "\ebd2";
}

.icon-people-plus:before {
  content: "\ecd2";
}

.icon-align-right-two:before {
  content: "\ead3";
}

.icon-trademark:before {
  content: "\ebd3";
}

.icon-people-left:before {
  content: "\ecd3";
}

.icon-align-text-top:before {
  content: "\ead4";
}

.icon-info:before {
  content: "\ebd4";
}

.icon-people-delete:before {
  content: "\ecd4";
}

.icon-align-top:before {
  content: "\ead5";
}

.icon-help:before {
  content: "\ebd5";
}

.icon-people-minus:before {
  content: "\ecd5";
}

.icon-alphabetical-sorting:before {
  content: "\ead6";
}

.icon-copyright:before {
  content: "\ebd6";
}

.icon-classroom:before {
  content: "\ecd6";
}

.icon-alphabetical-sorting-two:before {
  content: "\ead7";
}

.icon-all-application:before {
  content: "\ebd7";
}

.icon-people-minus-one:before {
  content: "\ecd7";
}

.icon-aperture-priority:before {
  content: "\ead8";
}

.icon-aiming:before {
  content: "\ebd8";
}

.icon-people-plus-one:before {
  content: "\ecd8";
}

.icon-application-two:before {
  content: "\ead9";
}

.icon-bill:before {
  content: "\ebd9";
}

.icon-people-download:before {
  content: "\ecd9";
}

.icon-auto-height-one:before {
  content: "\eada";
}

.icon-bookmark:before {
  content: "\ebda";
}

.icon-people-delete-one:before {
  content: "\ecda";
}

.icon-tiwenji:before {
  content: "\e707";
}

.icon-yiliaozixun:before {
  content: "\e711";
}

.icon-20-a:before {
  content: "\e607";
}

.icon-ertongyule:before {
  content: "\e60c";
}

.icon-yiliaoyongpin:before {
  content: "\e630";
}

.icon-bingdu:before {
  content: "\e6a0";
}

.icon-kefangyongrenfangertongfang:before {
  content: "\e6b2";
}

.icon-nanxing:before {
  content: "\ee2c";
}

.icon-wenyisheng:before {
  content: "\e608";
}

.icon-yiliao1:before {
  content: "\e74c";
}

.icon-xindiantu1:before {
  content: "\e61c";
}

.icon-yiliaofeiwulajitong_2:before {
  content: "\e65e";
}

.icon-empathize-line:before {
  content: "\e811";
}

.icon-first-aid-kit-line:before {
  content: "\e812";
}

.icon-thermometer-line:before {
  content: "\e82f";
}

.icon-jiankangyuyiliao-yiliao:before {
  content: "\ea2e";
}

.icon-icon_yiliaoqixie:before {
  content: "\e602";
}

.icon-home:before {
  content: "\e600";
}

.icon-filesync:before {
  content: "\e7b4";
}

.icon-user-folder:before {
  content: "\e611";
}

.icon-Heart:before {
  content: "\e68b";
}

.icon-Hearts:before {
  content: "\e68c";
}

.icon-Patch:before {
  content: "\e68d";
}

.icon-sharpicons_ambulance:before {
  content: "\e80b";
}

.icon-sharpicons_medical-sign:before {
  content: "\e810";
}

.icon-bingan:before {
  content: "\e610";
}

.icon-mazuike--:before {
  content: "\e6d1";
}

.icon-tubiao_-:before {
  content: "\e6fe";
}

.icon-tubiao_-1:before {
  content: "\e6ff";
}

.icon-tubiao_-2:before {
  content: "\e700";
}

.icon--yiliao-ct:before {
  content: "\e62a";
}

.icon--yiliao-zhushe:before {
  content: "\e62b";
}

.icon--yiliao:before {
  content: "\e62c";
}

.icon--yiliao-xieyang:before {
  content: "\e62d";
}

.icon-search:before {
  content: "\e615";
}

.icon-ertongpiao:before {
  content: "\e60a";
}

.icon-yaoxiangyiliao:before {
  content: "\e62e";
}

.icon-bingli:before {
  content: "\e657";
}

.icon-yiliaoxian:before {
  content: "\e65d";
}

.icon-xindiantu:before {
  content: "\e7a6";
}

.icon-yiliao:before {
  content: "\e6e6";
}